@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Urbanist", sans-serif;
    --text-base: 18px;
    --color-default: #262626;
    --color-main: #1A3129;
    --color-primary: #CBEA7B;
    --color-full: #FAFDF2;
    --color-item: #F6FBE9;
    --breakpoint-3xl: 1920px;
}

body {
    @apply 3xl:text-base text-default;
}

.container {
    @apply 3xl:max-w-[1596px] max-w-7xl mx-auto;
}


.blog-icon {
    @apply 3xl:p-4.5 p-3.5 bg-item 3xl:rounded-lg rounded-md border border-[#EEF8D3];
}

.steps ol {
    counter-reset: item-counter;
}

.steps li {
    counter-increment: item-counter;
}

.number-item::before {
    content: counter(item-counter, decimal-leading-zero);
    font-size: 150px;
    font-weight: bold;
    color: #468671;
}

.number-item {
    margin-bottom: -90px;
}